extends layout

block content
  .grid
      h1 Reddit User Personality Profile
      form.input(action='/' method='get')
        label
          | Enter Username:
          input(type='text', name='username')
        button(type='submit') Run Profile
  p
